<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /NWCBilling/app-react/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript js
  AddType text/css css
</IfModule>

<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=edge"
  Header set X-Content-Type-Options "nosniff"
</IfModule>



